body{
    background: url(../images/pizza-on-brown-wooden-table-3768007.jpg);
    background-size: cover;
    display: grid;
    
}

.main-content{
    display: inline-block;
    width: 100%;
}
/* form styles */
.pizza-form{
    width:50%;
    background-color: rgba(0, 99, 71, 0.3);
    font-family: "Sue Ellen Francisco";
    background-size: contain;
    font-size:larger;
    color: black;
    font-weight: bolder;
    margin:0 auto;

}
.pizza-details{
    margin: 0 auto;
    width: 50%;
    
    background-color: rgba(255, 99, 71,0.3);
}

.mySlides {
    
    width: 40%;
}
.form-group{
    margin-bottom: 20px;
}
label{
    font-weight: bolder;
}
select{
    width: 70%;
    background-color: white;
    border-radius: 25px;
    border-color: tomato;
}
input[type="number"],input[type="text"]{
    border-radius: 25px;
    border-color: tomato;
    width: 70%;
}

form{
    
    padding-left: 30px;
}
/* order details */
.hide-order{
    display: none;
    padding-left: 300px; 
    font-family: "Sue Ellen Francisco";
    background: url(../images/notepad.png);
    background-size: cover;
    background-position: center;
    margin:0 auto;
    width: 100%;
}
.hide-order h5,h3{
    font-size: x-large;
    font-weight: bolder;
    color: black;
    
}
.hide-order h2{
    font-weight: bolder;
    text-decoration: wavy black underline;
    color: black;
}

.hide-delivery{
    display: none;
    
}
.gallery{
    display: inline-block;
    width: 100%;  
    
}


.jumbotron{
    /* background: url(../images/bg.png); */
    background-color:rgba(0, 0, 0,0.4);
    
    background-size: cover;
    font-family: 'Akronim';
    text-align: center;
    letter-spacing: 10px;
    font-size: xx-large;
    color: whitesmoke;
    height: 1px;
    padding-left: 600px;
  
}

.order{
    white-space: pre-wrap;
}
